<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="center">
      <h2>Edit Profile</h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit(editProfileForm.value)">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter name" type="text" formControlName="name">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.name">
                <div class="error-message"
                  *ngIf="editProfileForm.get('name').hasError(validation.type) && (editProfileForm.get('name').dirty || editProfileForm.get('name').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phone">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter email" type="text" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                  *ngIf="editProfileForm.get('email').hasError(validation.type) && (editProfileForm.get('email').dirty || editProfileForm.get('email').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </mat-hint>
        </mat-form-field>

        <ion-button [disabled]="isDisabled" (click)='isDisabled = true' expand="block" type="submit">Submit</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>