<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.subscriptionList && this.subscriptionList.length; else noData">
    <ion-row>
      <ion-col>
        <h3 class="center">Active Subscriptions</h3>
      </ion-col>
    </ion-row>
    <ion-card *ngFor="let data of subscriptionList">
      <ion-card-content>
        <ion-row>
          <ion-col size="8" style="text-align: left;">
            <p class="mar-0"><b>Product Name</b></p>
            <p class="mar-0"><b>Validity</b></p>
            <p class="mar-0"><b>Deliveryman</b></p>
          </ion-col>
          <ion-col size="4" style="text-align: right;">
            <p class="mar-0"><b>{{data?.subscriptionpack?.name}}</b></p>
            <p class="mar-0"><b>{{data?.quantity}}</b></p>
            <p class="mar-0"><b>{{data?.deliveryman?.name}} | {{data?.deliveryman?.phone}}</b></p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noData>
    <ion-row>
      <ion-col class="center" size="12">
        No active subscription
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>